In [1]:
import pandas as pd
import numpy as np

In [2]:
fusion_train = pd.read_pickle('fusion_train.pkl')
fusion_train

,validate_offline_score_mean,validate_offline_score_rounded,neg_log_loss,accuracy,train_type
0,0.685887,0.686799,-1.236802,0.461167,LR
1,0.694456,0.695435,-1.124968,0.514167,RF
2,0.692023,0.693083,-1.143586,0.500167,XGB
3,0.695535,0.696477,-1.113338,0.519500,Cat
4,0.693803,0.694654,-1.135254,0.498667,Light

In [3]:
fusion_log = pd.read_pickle('fusion_log.pkl')
fusion_log

,lambda,validate_offline_score_mean,validate_offline_score_rounded,neg_log_loss,accuracy
0,0.0,0.695014,0.695938,-1.117684,0.515833
1,0.1,0.694626,0.695438,-1.123512,0.516167
2,0.5,0.694468,0.695415,-1.125547,0.516167
3,1.0,0.694440,0.695411,-1.125911,0.515667
4,5.0,0.694415,0.695391,-1.126234,0.515167
5,10.0,0.694412,0.695379,-1.126276,0.515167

In [4]:
stacking_train = pd.read_pickle('stacking_train.pkl')
stacking_train

,validate_offline_score_mean,validate_offline_score_rounded,neg_log_loss,accuracy,train_type
0,0.694281,0.695202,-1.126712,0.511500,RF
1,0.692023,0.693083,-1.143586,0.500167,XGB
2,0.695535,0.696477,-1.113338,0.519500,Cat

In [5]:
stacking_log = pd.read_pickle('stacking_log.pkl')
stacking_log.sort_values(by = ['validate_offline_score_rounded'], ascending=False)

,iteration,learning rate,depth,validate_offline_score_mean,validate_offline_score_rounded,neg_log_loss,accuracy
0,0.0,10.00,4.0,0.696402,0.697460,-1.107289,0.521333
1,0.0,5.00,4.0,0.696394,0.697419,-1.107385,0.519000
2,0.0,1.00,4.0,0.696324,0.697202,-1.108237,0.521167
3,0.0,0.50,4.0,0.696205,0.697104,-1.109732,0.521833
4,0.0,0.10,4.0,0.695784,0.696775,-1.115681,0.517500
5,0.0,0.05,4.0,0.695410,0.696249,-1.120691,0.516833
6,0.0,0.01,4.0,0.692975,0.693939,-1.147737,0.503833